doctype html
html
    head
        title="strona logowania"
        style
            include public/style_index.css
    body
        div.log
            h1 Zaloguj się przez google

            a(href='/auth/google') Kliknij tutaj
